<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      BANKING
    </ion-title>
    <ion-button routerLink="/about">About</ion-button>
    <ion-button routerLink="/transfer" color="success">Transfer</ion-button>
    <ion-chip routerLink="/vieewaccdetails"><ion-label>View Account Details</ion-label></ion-chip>
    <ion-button routerLink="/login">Login</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  
</ion-content>
