<h1>CONTACT US</h1>
<div>
    <p>
        The corporate office of Marsh McLennan is located at 1166 Avenue of the Americas, New York, NY 10036. 
        For general inquiries, the main phone number is +1 212 345 5000. The company also provides dedicated
         contact channels for media and investor relations, ensuring streamlined communication for stakeholders 
         and journalists alike.
    </p>
</div>

<table>
    <tr>
        <td><a routerLink = 'east'>East</a></td>
        <td><a routerLink = 'west'>West</a></td>
        <td><a routerLink = 'north'>North</a></td>
        <td><a routerLink = 'south'>South</a></td>
    </tr>
</table>

<router-outlet></router-outlet>
