<h2>Add New Product</h2>
<form (ngSubmit)="addProduct()">
  <label>Product ID:
    <input type="number" [(ngModel)]="product._id" name="_id" required>
  </label><br>

  <label>Name:
    <input type="text" [(ngModel)]="product.pName" name="pName" required>
  </label><br>

  <label>Price:
    <input type="number" [(ngModel)]="product.pPrice" name="pPrice" required>
  </label><br>

  <label>Brand:
    <input type="text" [(ngModel)]="product.pBrand" name="pBrand" required>
  </label><br>

  <label>In Stock:
    <input type="checkbox" [(ngModel)]="product.pIsInStock" name="pIsInStock">
  </label><br>

  <button type="submit">Add Product</button>
</form>