<h3>Banking Home</h3>
<p>HSBC Bank USA, National Association, an American subsidiary of the British banking group HSBC, 
    is a bank with its operational head office in New York City and its nominal head office in Tysons,
    Virginia (as designated on its charter). HSBC Bank USA, N.A. is a national bank chartered under the
    National Bank Act, and thus is regulated by the Office of the Comptroller of the Currency (OCC), 
    a part of the U.S. Department of the Treasury.
</p>

<div>
    <ol>
        <li *ngFor = 'let item of services'>
            {{item}} 
        </li>
    </ol>
</div>

<div class="image-container">
  <img src="assets/home/hsbc1.jpg" alt="Home Banner" class="banner-img">
</div>
