<h1>CULTURE</h1>
<p>
Marsh McLennan thrives on a high-performing, inclusive culture where colleagues are empowered to be 
their best selves.

Core Values:

-- Integrity, Respect, Teamwork, Excellence

-- Inclusion & Belonging: Supported by Colleague Resource Groups (CRGs) for African Heritage, LGBTQ+, Women, Veterans, and more

-- Learning Without Limits: Open access to development programs and mentorship

-- Community Impact: Paid volunteer time and donation matching for nonprofit work

-- Well-being Focus: Flexible benefits, mental health resources, and wellness platforms
</p>
