<h1>ABOUT US</h1>
<div>
    <p>Marsh McLennan is a global professional services firm headquartered in New York City, 
        specializing in risk, strategy, and people. It operates through four major subsidiaries: Marsh, 
        which provides insurance broking and risk management; Guy Carpenter, focused on reinsurance and 
        capital strategies; Mercer, offering HR and investment consulting; and Oliver Wyman, a leading 
        management consulting firm. With around 90,000 employees and annual revenues exceeding $24 billion, 
        the company serves clients in over 130 countries, making it a powerhouse in its field.</p>
</div>
