<h2>Delete Product</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Brand</th>
      <th>In Stock</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.pName }}</td>
      <td>₹{{ product.pPrice }}</td>
      <td>{{ product.pBrand }}</td>
      <td>{{ product.pIsInStock ? 'Yes' : 'No' }}</td>
      <td><button (click)="deleteProduct(product._id)">Delete</button></td>
    </tr>
  </tbody>
</table>